body {
  margin: 0;
  font-family: monospace;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  width: 100%;
 padding-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  
}

  .App{
    display: flex;
    flex-direction: column;
    width: 100%;   
  }

  .App>div{
    border: 0px solid black;
  }

   /* DASHBOARD JS */
  .top-bar{
    height: 100px;
    
  }
    .head-title{
      display: flex;
      justify-content: center;
      font-size: 20pt;
      
    }

  .dashboard{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-left: 55px;
    width: 90vw;
    padding-top: 15px;
  }
    .dashboard>div{
      border: 0px solid red;
    }

    .account-area{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    /* TIMER */
    .timer-wrapper{
      display: flex;
      align-items: center;
      gap: 10px;
      
    }
      .timer-wrapper>div{
        height: 20px;
      }


  /* IMAGE JS */
      .main-bar{
      display: flex;
      justify-content: center;
      
      
    }
 
    .sidebar{
      width: 50px;
      display: none;
    }

    .sidebar>img{
      padding-top: 30px; 
    }
    
      .display-char1, .display-char2, .display-char3{
        display: none;
      }
      
    .img-cont{
      border: 1px solid white;
      position: relative;
      height: 666px;
      width: 1000px;
      display: none;
      margin-bottom: 50px;
      justify-content: center;
    }
      .main-img{
        width: 100%;
        height: auto; 
        
        
      }

      #spot-waldo, #spot-odlaw, #spot-wenda{
       
        z-index: 1;
        width: 10px;
        height: 20px;
        position: absolute;
      }
        #spot-waldo{
          top: 410px;
          right: 590px;
        }

        #spot-odlaw{
          bottom: 190px;
          left: 65px;
        }

        #spot-wenda{
          top: 337px;
          left: 290px;

        }

          .dropdown-cont1, .dropdown-cont2, .dropdown-cont3{
            background-color: black;
            width: 80px;
            height: auto;
            display: none;
            cursor: pointer;
            opacity: 0.8;
            }

          .dropdown-cont1>div, .dropdown-cont2>div, .dropdown-cont3>div{
            border-bottom: 1px solid white;
            border-left: 1px solid white;
          }

          .dropdown-cont1>div:hover, .dropdown-cont2>div:hover, .dropdown-cont3>div:hover{
            background-color: white;
              color: black;
          }

          .dropdown-cont0{
            background-color: black;
            width: 80px;
            height: auto;
            display: none;
            cursor: pointer;
            opacity: 0.8;
            
          }
            .dropdown-cont0>div{
              border-bottom: 1px solid white;
              border-left: 1px solid white;
            }
            .dropdown-cont0>div:hover {
              background-color: white;
              color: black;
            }
       
.display-char{
  display: none;
}

/* TIMER */
.timer-wrapper{
  font-size: 15pt;
}

  .button-start{
    padding: 20px 30px;
    position: fixed;
    top: 15%;
    left: 42.5%;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 12pt;
    font-weight: 600;
    z-index: 1;
  }
  #button-start:hover {
    background-color: white;
    color: rgb(255, 0, 0);

  }

/*RESULT*/
.result-time{
  margin-left: 25%;
  display: none;
}

/* Sidebar new */
.sidebar-new{
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

