body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  
}

  .App{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 0;
    
    
  }

  .App>div{
    border: 1px solid black;
  }

  .top-bar{
    height: 75px;
  }

  /* DASHBOARD JS */

  .dashboard{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
    .dashboard>div{
      border: 1px solid red;
    }


  /* IMAGE JS */
      .main-bar{
      display: flex;
    }
 
    .sidebar{
      width: 60px;
    }

    .sidebar>img{
      padding-top: 20px;
     
    }
      .display-char1, .display-char2, .display-char3{
        display: none;
      }
      
    .img-cont{
      border: 1px solid blue;
      position: relative;
      height: 933px;
      width: 1400px;
      
    }
      .main-img{
        width: 100%;
        height: auto; 
        
      }

      #spot-waldo, #spot-odlaw, #spot-wenda{
        background-color: cyan;
        z-index: 1;
        width: 10px;
        height: 20px;
        position: absolute;
      }
        #spot-waldo{
          top: 565px;
          right: 830px;
        }

        #spot-odlaw{
          bottom: 280px;
          left: 92px;
        }

        #spot-wenda{
          top: 467px;
          right: 983px;

        }

          .dropdown-cont1, .dropdown-cont2, .dropdown-cont3{
            flex-direction: column;
            background-color: beige;
            width: 60px;
            height: auto;
            display: none;
          }
          .dropdown-cont1>div, .dropdown-cont2>div, .dropdown-cont3>div{
           
           border: 1px solid black;
           font-size: 10pt;
          }

          .dropdown-cont0{
            background-color: beige;
            width: 60px;
            height: auto;
            display: none;
          }
       
.display-char{
  display: none;
}

