body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  
}

  .App{
    display: flex;
    box-sizing: border-box;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 0;
    
    
  }

  .App>div{
    border: 1px solid black;
  }
    .sidebar{
      width: 200px;
    }

    .mainbar{

    }

    .topbar{
      height: 75px;
    }
      img{
        width: 100%;
        height: auto;
      }